@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    /*les couleurs*/
    --beige: #ebeef2;
    --dark-beige: #afaf99;
    --grey: #787878;
    --black: #000000;
    --dark-grey: #575757;

    --light-blue: #adc5f2;
    --blue: #3366cc;
    --dark-blue: #192b4d;
    /*utilisation des couleurs*/
    --bg-color: var(--beige);
    --text-color: var(--black);
    --nav-bg-color: var(--light-blue);
	--selected-nav-bg-color: var(--dark-blue);
    --hover-nav-bg-color: var(--blue);

    --border-radius: .4rem;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Montserrat';
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p{
    margin: 0; /*pour éviter des problèmes à la con*/
}
h1{
    margin: 0; /*pour éviter des problèmes à la con*/
}
h2{
    margin: 0; /*pour éviter des problèmes à la con*/
    /* font-size: 40px;
    margin-top: 20px; */
}
h3{
    margin: 0; /*pour éviter des problèmes à la con*/
}

div.nav{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: aqua; */
    color: black;
}
a#logo{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    padding-right: 10px;
}
a.nav{
    background-color: var(--nav-bg-color);
    color: var(--dark-blue);
    text-decoration: none;
    padding: 10px;
    border-radius: var(--border-radius);
    transition: all .1s ease-in-out;
    font-size: 1rem;
}
a.nav.selected{
    background-color: var(--selected-nav-bg-color);
    color: var(--beige);
}
a.nav:hover{
    /* padding: 15px; */
    /* font-size: 1.2rem; */
    background-color: var(--hover-nav-bg-color);
    color: var(--beige);
}
a.nav.selected:hover{
    background-color: var(--selected-nav-bg-color);
    /* color: var(--blue); */
}

div#main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.frame{
    background-color: var(--light-blue);
    width: fit-content;
    min-width: 400px;
    padding: var(--border-radius);
    border-radius: var(--border-radius);
}
h2.frame-title{
    font-size: 30px;
    margin-top: 20px;
}
div.frame-content{
    margin-left: 30px;
    /* margin-right: 20px; */
}

/*-------------------fin contenu global--------------------------*/

/*-------------------welcome page--------------------------*/
div.presentation{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: fit-content;
    background-color: var(--dark-blue);
    color: var(--beige);
    border-radius: var(--border-radius);
    padding: 10px;
}
img#photo_Ronan{
    margin: 0;
    width: 300px;
}
#hello{
    color: var(--beige);
    font-size: 5vw;
    /* font-size: 7rem; */
}
#Iam{
    font-size: 2.9vw;
    /* font-size: 3rem; */
}
p.soustexte{
    font-size: 1.5vw;
    color: var(--dark-beige);
}

/*-------------------fin welcome page--------------------------*/

/*-------------------engineering_course page--------------------------*/

h2.engineering-course{
    font-size: 30px;
    margin-top: 20px;
}

div.engineering-course{
    background-color: var(--light-blue);
    width: fit-content;
    padding: var(--border-radius);
    border-radius: var(--border-radius);
}
div.engineering-course-content{
    margin-left: 30px;
    /* margin-right: 20px; */
}
/*-------------------fin engineering_course page--------------------------*/

/*----------carreer_developpment----------*/
a.CV{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border-radius: var(--border-radius);
    padding: 10px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    text-decoration: none;
    .icon-clair{
        display: none;
    }
}
a.CV:hover{
    background-color: var(--blue);
    color: var(--beige);
    .icon-sombre{ /*changeent affichage des pictos*/
        display: none;
    }
    .icon-clair{
        display: block;
    }
}

div.CV_container{
    display: flex;
    gap: 10px;
}

img.document-icon{
    width: 50px;
    margin-bottom: 5px;
}

#contact-content-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.contact-button{
    text-decoration: none;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    width: fit-content;
    padding: var(--border-radius);
    border-radius: var(--border-radius);
    cursor: pointer;
}
.contact-button:hover{
    background-color: var(--hover-nav-bg-color);
    color: var(--beige);
}
#mail-copied{
    display:none;
    font-size: .8rem;
    color: var(--dark-beige);
}

/*-------------------fin carreer_developpment page--------------------------*/

/*-------------------other_activities-------------------*/

.cards {
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    display: grid;
    grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}

div.frame.card{
    min-width: 0px;
    width: auto;
}

/*  -------------------fin other_activities-------------------*/
